<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
                                 maximum-scale=1.0, user-scalable=no">
    <title>退货生成</title>
    <!-- Import html2canvas -->
    <script src="./resource/js/html2canvas.min.js"></script>
    <!-- import Vue3 -->
    <script src="./resource/js/vue.global.min.js"></script>
    <!-- Import Element style -->
    <link rel="stylesheet" href="./resource/css/element.css"/>
    <!-- Import component library -->
    <script src="resource/js/element.full.min.js"></script>
    <!-- Import HTML style -->
    <link rel="stylesheet" href="./resource/css/index.css"/>
</head>
<body>
<div class="container" id="app">
    <el-row :gutter="10">
        <el-col :xs="24" :sm="10" :md="8" :lg="8" :xl="8">
            <div class="android-container" id="screen-android">
                <img class="bg-image" src="./resource/img/android-bg.png" alt=""/>
                <div class="time fs14">{{content.time}}</div>
                <div class="show" v-show="!content.show"></div>
                <div class="address-first fs14">{{content.addressFirst}}</div>
                <div class="address-last fs14">{{content.addressLast}}</div>
                <div class="name fs14"> {{content.name}}</div>
                <div class="mobile fs14">{{content.mobile}}</div>
            </div>
        </el-col>
        <el-col :xs="24" :sm="10" :md="8" :lg="8" :xl="8">
            <div class="ios-container" id="screen-ios">
                <img class="bg-image" src="./resource/img/ios-bg.png" alt=""/>
                <div class="show" v-show="!content.show"></div>
                <div class="time fs14">{{content.time}}</div>
                <div class="address fs14" v-html="content.address"></div>
                <div class="name fs14"> {{content.name}}</div>
                <div class="mobile fs14">{{content.mobile}}</div>
            </div>
        </el-col>
        <el-col :xs="24" :sm="4" :md="8" :lg="8" :xl="8">
            <el-card shadow="always" class="form-container">
                <template #header>
                    <div class="card-header">
                        <span>配置项</span>
                    </div>
                </template>
                <el-form label-width="auto" :model="content" label-position="left">
                    <el-form-item label="图标显示">
                        <el-switch v-model="content.show"></el-switch>
                    </el-form-item>
                    <el-form-item label="时间">
                        <el-time-picker
                                class="w250"
                                v-model="content.time"
                                format="HH:mm"
                                value-format="HH:mm"/>
                    </el-form-item>
                    <el-form-item label="姓名">
                        <el-input v-model="content.name" class="w250"/>
                    </el-form-item>
                    <el-form-item label="地址(首行)">
                        <el-input v-model="content.addressFirst" class="w250" @input="handleAddress"/>
                    </el-form-item>
                    <el-form-item label="地址(尾行)">
                        <el-input v-model="content.addressLast" class="w250" @input="handleAddress"/>
                    </el-form-item>
                    <el-form-item label="手机号码">
                        <el-input v-model="content.mobile" class="w250"/>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onCreate('screen-android')">截图A</el-button>
                        <el-button type="primary" @click="onCreate('screen-ios')">截图B</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>
<script>
    const {createApp, ref, reactive, onMounted} = Vue

    function formatCurrentTime() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        return `${hours}:${minutes}`;
    }

    createApp({
        setup() {
            const content = reactive({
                show: false,
                name: '王小图',
                addressFirst: '南京市北方路乐药区云朵花园',
                addressLast: '20幢三单元403',
                mobile: '18912345678',
                address: '',
                time: formatCurrentTime(),
            })


            const handleAddress = () => {
                content.address = `${content.addressFirst}${content.addressLast}    <span class="copy">复制</span>`
            }

            const onCreate = (id) => {
                const node = document.getElementById(id);
                html2canvas(node, {
                    useCORS: true,
                    height: node.offsetHeight,
                    width: node.offsetWidth,
                    scrollY: 0,
                    scrollX: 0
                }).then(canvas => {
                    const imgUrl = canvas.toDataURL('image/jpeg')
                    const a = document.createElement('a');
                    a.href = imgUrl;
                    a.download = Date.now() + '.png';
                    a.click();
                    a.remove();
                    ElementPlus.ElMessage.success('操作成功')
                }).catch(function (error) {
                    console.error('oops, something went wrong!', error);
                    ElementPlus.ElMessage.error('发生失败，请重试')
                });

            }
            onMounted(() => {
                handleAddress()
            });

            return {
                content,
                onCreate,
                handleAddress
            }
        }
    })
        .use(ElementPlus)
        .mount("#app");
</script>

</body>
</html>